<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css'%}">
</head>

<body>
<h1 align="center">Гостевая книга</h1>
<br>
<div align="center">
	<a href='messages/'>Добавить запись</a>
</div>

<form method="POST">
	 {% csrf_token %}
	<br>
	<div align="center">
		<table>
			{{ form.Select }} {{ form.Select_2 }}
		</table>
		<br>
		<input type="submit" value="Обновить">
	</div>
</form>


<table border=1 cellpadding=0 cellspacing=1 width=616 bgcolor=#FFFFFF class=frame align="center">
	{% for user in contacts %}
		<tr><td>
			<table border=0 cellpadding=5 cellspacing=0 width=100%>
				<tr><td class=gbtext>
					<font color=#333333 size=-1><b>Имя:</b>{{ user.Username }} <img src='{{ user.Image }}'  border=0 width="25" height="25"> <br><b>Email:</b> <font>{{ user.Email }}</font></font>  <font color=#333333 size=-1><br><b>Ссылка:</b> <a href="{{ user.Reference }}">{{ user.Reference }}</a></font></font>
					<br><font color=#333333 size=-1><b>Cообщение:</b> <span id=m_a1409398822></span><span id=m_b1409398822>{{ user.Text }} <br> </span></font>
					<div align=right><i><font color=#333333 size=-2>{{ user.Date }}</font><x/i></div>
				</td></tr>
			</table>
		</td></tr>
	{% endfor %}
</table>
<br>
<p align="center">Всего сообщений: {{ count.count }}.</p>
<div class="pagination" align="center">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


</body>
</html>